<h1>Add a new director</h1>

<form action="/create_director">
  <div>
    <label for="image_input">
      Image url
    </label>

    <input id="image_input" type="text" name="the_image">
  </div>

  <div>
    <label for="name_input">
      Name
    </label>

    <textarea id="name_input" type="text" name="the_name"></textarea>
  </div>

  <div>
    <label for="bio_input">
      Bio
    </label>

    <textarea id="bio_input" type="text" name="the_bio"></textarea>
  </div>

  <div>
    <label for="dob_input">
      Dob
    </label>

    <input id="dob_input" type="text" name="the_dob">
  </div>
  
  <button>
    Create director
  </button>
</form>